curl -X POST -H "Content-Type: application/json" -d "{'email': 's_seifpo@live.concordia.ca','password': 'soornggt'}" http://localhost:5000/login

cp -r C:\Users\sseif\Repository\smartProject\frontend\build\* static\

curl -X POST -H "Content-Type: application/json" -d "{\"email\": \"s_seifpo@live.concordia.ca\", \"password\": \"soornggt\"}" http://localhost:5000/login


server {
    listen 80;
    server_name 3.99.146.98;

    # Location for the React frontend
    location / {
        root /home/ubuntu/smartProject/frontend/build;
        try_files $uri /index.html;
    }

    # Location for the Flask backend
    location /api/ {
        proxy_pass http://127.0.0.1:5000; # Assuming Flask runs on localhost:5000
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    # Additional Nginx configuration (e.g., SSL, security headers) can be added here.

    error_page 404 /index.html; # Handle React routing
    location = /index.html {
        root /home/ubuntu/smartProject/frontend/build;
    }

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;
}
