curl -X POST -H "Content-Type: application/json" -d "{'email': 's_seifpo@live.concordia.ca','password': 'soornggt'}" http://localhost:5000/login

cp -r C:\Users\sseif\Repository\smartProject\frontend\build\* static\
